<a href="https://colab.research.google.com/github/ArturoBarrios9000/edd_1358_2021/blob/master/14Octubre1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def calcular(a,b,c):
  x = a + (b/c)
  return x

print(calcular(5,9,3))
print(calcular(a=5,b=3,c=9)) 

def calcular_v2(a=10,b=20, c=5):
  x = a + (b/c)
  return x


print(calcular_v2()) #se pueden asigar valores a la definicion por defecto
print(calcular_v2(40, 8)) # las variables las puedes cambiar apesar de estar def

8.0
5.333333333333333
14.0
41.6

#argumentos a funciones por tupla *
Se envian los argumentos en un conjunto de elementos dentro de una tupla

In [14]:
def calculo(*elem):
  print(elem)
  x = elem[0]+ (elem[1]/elem[2])
  return x

print(calculo(5,9,3))

(5, 9, 3)
8.0

# Argumentos como diccionario **

In [16]:
def calculo(**elem):
  print(elem)
  x =(elem['a']+ (elem['b']/elem ['c']))
  return x

print(calculo(a=5, b=9, c=3))

{'a': 5, 'b': 9, 'c': 3}
8.0

#Archivos
- abrirlos
  - un str con la ruta el arc
- leerlos
- modificarlos

In [17]:
archivo = open('ejemplo.txt','wt') # crea y abre un archivo

archivo.write("Hola mundo de at")

archivo.close()

In [20]:
!(touch nuevo.txt)